<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<p>Account created successfully!</p>